@media (max-width: 1450px) {
    .container {
        padding: 0 30px;
    }

    .header__inner {
        height: 76px;
    }

    .header__logo img {
        width: 142px;
        height: 60px;
    }

    .header__basket svg {
        width: 31px;
        height: 31px;
    }

    .body--opened-menu .nav {
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
        z-index: 1;
    }


    /* ----------------------------- */

    .banner__inner {
        gap: 0;
    }

}

@media (max-width: 1250px) {
    .container {
        padding: 0 30px;
    }
    .nav__list {
        font-size: 15px;
        gap: 7vh 10px;
    }
    .banner__title {
        font-size: 32px;
        width: 425px;
        margin-bottom: 35px;
    }

    .banner__text {
        font-size: 18px;
        margin-bottom: 70px;
    }

    .banner__button {
        font-size: 19px;
        padding: 15px 40px;
    }
}

@media (max-width: 950px) {
    .nav {
        position: fixed;
        inset: 0;
        padding: 20vh 15px 30px;
        background: #111;

        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: all .3s ease;

    }

    .nav__list {
        flex-direction: column;
        align-items: center;
        font-size: 25px;
    }

    .burger {
        display: flex;
        width: 40px;
        height: 40px;
    }
    .banner__title {
        font-size: 27px;
        width: 363px;
        margin-bottom: 20px;
    }

    .banner__text {
        font-size: 14px;
        margin-bottom: 40px;
    }

    .banner__button {
        font-size: 16px;
        padding: 10px 20px;
    }


}

@media (max-width: 875px) {

    .container {
        padding: 0 70px;
    }
    .banner__info {
        padding-top: 80px;
    }

    .banner__img {
        position: absolute;
        right: -20px;
    }

    .banner__img img {
        width: 344px;
        height: 391px;
        max-width: none;
    }
    .section__grid {
        gap: 15px;
    }

    .section__item-menu {
        padding: 10px;
        gap: 0.5vh;
    }
    .section__item-link {
        gap: 11px;
    }
    .section__item-link svg {
        width: calc(12px + 0.5vw);
        top: 1px;
    }
}


@media (max-width: 760px) {

    .header__inner {
        height: 47px;
    }

    .burger {
        width: 30px;
        height: 30px;
    }

    .header__logo img {
        width: 94px;
        height: 39px;
    }

    .nav__list {
        font-size: 20px;
    }

    .header__basket svg {
        width: 24px;
        height: 24px;
    }

    .header__basket-counter {
        left: 23px;
        top: 14px;
        width: 12px;
        height: 13px;
        font-size: 10px;
    }

    .banner__title {
        font-size: 22px;
        width: 290px;
        margin-bottom: 16px;
    }

    .banner__text {
        font-size: 12px;
        margin-bottom: 30px;
    }

}

@media (max-width: 680px) {
    .container {
        padding: 0 25px;
    }
}

@media (max-width: 580px) {

    .banner__info {
        padding-top: 50px;
    }

    .banner__text {
        max-width: 50%;
        line-height: 1.4;
    }

    .banner__img {
        right: -19px;
        top: 88px;
    }

    .banner__img img {
        width: 282px;
        height: 304px;
    }

    .section__grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 470px) {
    .banner__img {
        right: -19px;
        top: 127px;
    }

    .banner__img img {
        width: 232px;
        height: 265px;
    }

    .section__grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
