@import "reset.css";
@import "global.css";
@import "header.css";

.main__banner {
    background: #dddd;
    min-height: 392px;
}

.banner__inner {
    display: flex;
    gap: 87px;
    position: relative;
}

.banner__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}


.banner__title {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 42px;
    line-height: 1.03;
    color: var(--title-text);
    margin-bottom: 40px;
    width: 556px;
}


.banner__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 21px;
    line-height: 1.03;
    color: var(--title-text);
    margin-bottom: 90px;
    max-width: 85%;
}


.banner__button {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    color: #fff;
    border-radius: 3px;
    padding: 15px 50px;
    background: #c5358c;
    transition: all 0.3s ease;
}

.banner__button:hover {
    background: #a82d7a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

.banner__button:active {
    background: #8a2466;
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.banner__img {
    position: relative;
    right: 0px;
}

.banner__img img {
    max-width: 100%;
}

/* ------------------------ */




.main__section {
    background-color: #fff;
    padding: 150px 0;
}

.container {
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 15px;
}

.section__grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(120px, 1fr));
    gap: 20px;

}

.section__item {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 20px 0 #0000000d;
}

.section__item-container {
    display: flex;
    flex-direction: column;
}


.section__item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section__item-menu {
    display: flex;
    padding: 30px;
    flex-direction: column;
    gap: 1vh;
    transition: all 0.3s ease;
}

.section__item-menu h2 {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: clamp(13px, 2vw, 30px);
    color: #111;
}

.section__item-link {
    font-family: var(--font-family);
    color: #111;
    font-size: clamp(11px, 2vw, 24px);
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    gap: 20px;
}

.section__item-link svg {
    width: calc(12px + 1.5vw);
    position: relative;
    top: 2px;
}


/* Эффекты при наведении */
.section__item-menu:hover {
    transform: translateY(-3px);
    background: #111;
    border-radius: 0 0 10px 10px;
}

.section__item-menu:hover h2 {
    color: #fff;
}

.section__item-menu:hover .section__item-link {
    color: #fff;
}

.section__item-menu:hover .section__item-link path {
    fill: #fff;
}


/* --------------------------------------------------- */
.main__expert-opinion {
    background: #f8f8f8;
    max-height: 825px;
}
.expert-opinion__wrapper {
    display: grid;
    grid-template-areas:
        "title image"
        "text image";
    grid-template-columns: 1fr 1fr;
    gap: 40px 0px;
}

.expert-opinion__wrapper h3 {
    grid-area: title;
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 38px;
    color: #111;
    margin-top: 150px;
    width: clamp(280px, 65vw, 740px);
    position: relative;
    z-index: 1;
}


.expert-opinion__text {
    grid-area: text;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 162px;
    width: clamp(280px, 65vw, 670px);
    height: 39.2vh;
}

.expert-opinion__text p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: clamp(15px, 1.8vw, 18px);
    line-height: 1.4;
    color: #000;
}

.expert-opinion__image {
    grid-area: image;
    position: relative;
    margin-top: 130px;
    right: 65px;
    z-index: 0;
}

.expert-opinion__image img {
    width: clamp(15px, 46vw, 700px);
}

/* Адаптация для десктопов */
